html body{
    background-color: #b1cafea0;
    color: black;
    font-size: medium;
    font-family: 600px;
    font-family: cursive;
    text-align: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
.container{
    max-width: 300px;
    justify-content: center;
    margin: 10%;
}
.app{
    max-width: 300px;
    background-color: #535359;
    border-radius: 11px;
    padding: 8px;
    margin: 100px auto;
    display: flex;
    box-shadow: 3px 3px 9px #12fb22;
    flex-direction: column;
    justify-content: center;
    outline: 2px solid #12fb22;
}
.appTittle{
    text-align: center;
    color: white;
    margin: 20px 10px;
    
}
.btnrow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: inherit;
    justify-content: center;
}
.buttonsHolder{
    padding: 8px;
    padding: 4px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.functionalButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn{
    width: 3em;
    height: 50px;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900px;
    outline: none;
    border: none;
    margin: 3px;
    color:  #080010c0;  
    outline: 1px solid #5973f5;
    font-size: 20px;
    box-shadow: 3px 2px 6px #b1b1b4;

}
.fbtn{
    width: 4.2em;
    height: 50px;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
    font-weight: 900px;
    outline: none;
    border: none;
    margin: 3px;
    color: rgb(46, 46, 44);
    outline: 2px solid #5973f5;
    font-size: 20px;
    box-shadow: 3px 2px 6px  #9a9aa3;

   
}
.screenDisplay{
    background-color: #9a9aa3;
    display: flex;
    flex-direction: column;
}
.calculate{
    font-size: 20px;
    text-align: end;
    padding: 5px;
    font-weight: 900px;
    justify-content: end;

}
#point{
     
}
#equals{
  
}
#add{
   
}
#subtract{

}
#divide{

}
#multiply{
    

}
.btn:hover{
    outline: none;
    background-color: black;
    color: white;
    
}
.fbtn:hover{
    outline: none;
    background-color: black;
    color: white;
    
}